<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sarp.core.module.auth.dao.UserAuthMapper">
  <resultMap id="BaseResultMap" type="com.sarp.core.module.auth.model.entity.UserAuth">
    <!--@mbg.generated-->
    <!--@Table tbl_user_auth-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" property="value" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, token, `key`, `value`, create_time
  </sql>
</mapper>