<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sarp.core.module.contribution.dao.ContributionRecordMapper">
  <resultMap id="BaseResultMap" type="com.sarp.core.module.contribution.model.entity.ContributionRecord">
    <!--@mbg.generated-->
    <!--@Table tbl_contribution_record-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="animal_id" jdbcType="VARCHAR" property="animalId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="item_type" jdbcType="INTEGER" property="itemType" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_pic" jdbcType="VARCHAR" property="itemPic" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="audit_id" jdbcType="VARCHAR" property="auditId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, animal_id, `status`, item_type, item_name, item_pic, contact_phone, remark, audit_id, 
    audit_time, audit_remark, create_id, create_time, update_id, update_time, is_del
  </sql>
</mapper>